.sectionContainer {
  background-color: #111214;
  color: #ffffff;
  display: flex;
  padding: 80px 100px;
  gap: 40px;
  justify-content: center;

  .leftSideContainer {
    border-radius: 20px;
    border: 2px solid rgba(105, 105, 105, 0.2);
    padding: 24px;
    width: 80%;
    position: relative;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.8);
  }

  .rightSideContainer {
    max-width: 600px;
  }

  .contactDetailsContainer {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .contactInfoContainer {
      display: flex;
      gap: 40px;
      margin-bottom: 37px;

      a {
        display: block;
      }
    }

    .contactInfo {
      font-size: 14px;
      font-weight: 600;
    }

    .imageContainer {
      position: relative;
      width: 120px;
      height: 32px;
    }

    .contactDetailsHeader {
      display: flex;
      justify-content: space-between;
      gap: 40px;
    }
  }

  .formContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .fieldsContainer {
    display: flex;
    gap: 20px;
    .fieldContainer {
      width: 50%;
    }
  }

  .fieldContainer {
    color: #bdcfcc;

    .errorContainer {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-top: 12px;
      color: #f97179;
      font-size: 12px;
      line-height: 18px;
      letter-spacing: 0px;
    }

    .input {
      width: 100%;
      padding: 13px;
      margin-top: 8px;
      border-radius: 8px;
      border: 2px solid rgba(255, 255, 255, 0.02);
      background-color: rgba(255, 255, 255, 0.1);
      color: #ffffff;
      font-family: "__Manrope_dc17e1", "__Manrope_Fallback_dc17e1";

      &:focus {
        border: 2px solid rgba(255, 255, 255, 0.2);
      }

      &:focus-visible {
        outline: unset;
      }

      &::placeholder {
        color: #696969;
        opacity: 1;
        font-weight: 400;
        font-family: "__Manrope_dc17e1", "__Manrope_Fallback_dc17e1";
      }

      &::-ms-input-placeholder {
        color: #696969;
        font-weight: 400;
        font-family: "__Manrope_dc17e1", "__Manrope_Fallback_dc17e1";
      }

      label {
        font-weight: 500;
      }
    }

    .inputWithError {
      border: 2px solid rgba(249, 113, 121, 0.5);
    }
  }
  .buttonContainer {
    border-radius: 12px;
    border: 3px solid rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;

    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #0f63d8;
      color: #fff;
      padding: 20px;
      border-radius: 12px;
      border: 3px solid #0b1b31;
      cursor: pointer;
      font-weight: 600;
      width: 100%;
      font-size: 18px;
      color: #fff;
      font-weight: 600;
      position: relative;
      height: 65px;

      .buttonContent {
        position: relative;
      }

      .buttonText {
        position: absolute;
        max-height: 24px;
        font-family: "__Manrope_dc17e1", "__Manrope_Fallback_dc17e1";
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: ease-in 0.2s;
      }

      .imageContainer {
        position: absolute;
        width: 24px;
        height: 24px;
        opacity: 0;
        top: 50%;
        right: -55px;
        transform: translate(0, -50%);
        transition: opacity 0.3s ease-in;
      }

      &:disabled {
        cursor: default;
      }

      &:hover {
        &:not([disabled]) {
          .buttonText {
            transform: translate(-70%, -50%);
            -webkit-transition: ease-in 0.2s;
            transition: ease-in 0.2s;
          }

          .imageContainer {
            opacity: 1;
            transition: unset;
          }
        }
      }
    }
  }

  .loader {
    display: inline-block;
    width: 21px;
    height: 21px;
    &::after {
      content: "";
      display: block;
      width: 18px;
      height: 18px;
      border-radius: 50%;
      border: 2px solid rgba(255, 255, 255, 0.58);
      border-color: rgba(255, 255, 255, 0.58) transparent
        rgba(255, 255, 255, 0.58) transparent;
      animation: loading 1.2s linear infinite;
    }
  }

  .circle {
    width: 600px;
    height: 600px;
    filter: blur(200px);
    background-color: rgba(15, 99, 216, 0.2);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-75%, -50%);
    z-index: -1;
  }

  h2 {
    font-size: 44px;
    font-weight: 700;
    text-transform: capitalize;
  }

  h3 {
    color: #bdcfcc;
    font-weight: 500;
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .sectionContainer {
    flex-direction: column-reverse;
    align-items: center;
    .leftSideContainer {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .sectionContainer {
    padding: 60px;
    gap: 15px;

    h2 {
      font-size: 33px;
    }

    label {
      font-size: 14px;
    }
  }
}

@media (max-width: 430px) {
  .sectionContainer {
    flex-direction: column-reverse;
    padding: 20px 15px;
    .leftSideContainer {
      padding: 12px;
    }
    .contactDetailsContainer {
      .contactDetailsHeader {
        gap: 10px;
        h2 {
          font-size: 20px;
        }
      }
      .contactInfoContainer {
        flex-direction: column;
      }
    }
    .rightSideContainer {
      max-width: 430px;
    }
    label {
      font-size: 12px;
    }

    .fieldsContainer {
      flex-wrap: wrap;
      .fieldContainer {
        width: 100%;
      }
    }
  }
}

@media (max-width: 375px) {
  .sectionContainer {
    .rightSideContainer {
      max-width: 375px;
    }
  }
}

@media (max-width: 320px) {
  .sectionContainer {
    .rightSideContainer {
      max-width: 320px;
    }
  }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideLeft {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 1;
    transform: translateX(-35px);
  }
}
